{% extends 'base.html.twig' %}

{% block title %}Edit UE{% endblock %}

{% block body %}
    <h1>Edit UE</h1>

    {{ include('u_e/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('u_e_index') }}">back to list</a>

    {{ include('u_e/_delete_form.html.twig') }}
{% endblock %}
