{% extends 'base.html.twig' %}

{% block title %}Edit InscriptionSemestre{% endblock %}

{% block body %}
    <h1>Edit InscriptionSemestre</h1>

    {{ include('inscription_semestre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('inscription_semestre_index') }}">back to list</a>

    {{ include('inscription_semestre/_delete_form.html.twig') }}
{% endblock %}
