{% extends 'base.html.twig' %}

{% block title %}New Proposition{% endblock %}

{% block body %}
    <h1>Create new Proposition</h1>

    {{ include('proposition/_form.html.twig') }}

    <a href="{{ path('proposition_index') }}">back to list</a>
{% endblock %}
